.amy-section{
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    p{
        color: $gray;
    }
    .btn-shape {
        @include btn-color($red);
        margin: 2.4rem auto;
        &:hover{
            background-color: $orange;
            transition: 200ms;
        }
    }
    @include tablet{
        flex-direction: row;
        gap: 6rem;
        .amy-text-container{
            width: 33.9rem;
            text-align: left;
        }
    }
    @include desktop{
        gap: 12rem;
    }
    img{
        @include tablet{
            width: 36.4rem;
            height: 36.4rem;
        }
        @include desktop{
            width: 44.5rem;
            height: 44.5rem;
        }
    }
}