@import '../variables';
header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p{
        color: $gray;
    }

    

    .btn-shape {
        @include btn-color($black);
        &:hover{
            background-color: $purple;
            transition: 200ms;
        }
    }
}