#scrolling-container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 1.5rem;
    scroll-behavior: smooth;
    img{
        height: 18rem;
        width: 27rem;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}
.scrolling-buttons-container{
    height: 7rem;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 3.2rem;
    span {
        width: 6.4rem;
        height: 6.4rem;
        padding: 2.4rem;
        border-radius: 100%;
        background-color: black;
        display: inline-block;
    }
}